.spiner {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    animation: spinIT 1.4s linear infinite;
    filter: drop-shadow(0px 0px 8px gray);
}

.spinerCtn {
    left: 50%;
    top: 50%;
    position: fixed;
}

@keyframes spinIT {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:768px) {
    .spinerCtn {
        left: 38%;
    }
    .spinerMSG {
        margin-top: 50px;
    }
    @media (max-width:452px) {
        .spinerCtn {
            left: 30%;
        }
        @media (max-width:370px) {
            .spinerCtn {
                left: 25%;
            }
        }
    }
}