#searchBar {
    width: 40%;
    display: flex;
    margin-inline: 3rem;
}

.searchInput {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background-color: #f1f1f1;
    border: black 2px solid;
    border-radius: 2rem 0 0 2rem;
    outline: none;
}

.searchBtn {
    padding: 10px;
    width: 20%;
    background-color: f1f1f1;
    color: black;
    font-size: 17px;
    border: black 2px solid;
    border-radius: 0 2rem 2rem 0;
}

.searchBtn:hover {
    background-color: rgb(227, 227, 227);
}