.menu {
    height: 100%;
    width: 15%;
    background-color: #111;
    padding-top: 20px;
    overflow-x: hidden;
}

.options a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
}

.options a:hover {
    color: #f1f1f1;
}

.menu img {
    width: 100%;
}

.btnOp {
    border: none;
    background-color: #111;
    color: #818181;
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    width: 100%;
    height: 3rem;
    border-block: black 1px solid;
}

.btnOp:hover {
    color: #f1f1f1;
    cursor: pointer;
}

.btnMenu {
    border: none;
    background-color: #111;
    color: #818181;
    padding: 6px 8px 6px 16px;
    font-size: 15px;
    width: 100%;
    border-block: black 1px solid;
}

.btnMenu:hover {
    color: #f1f1f1;
    background-color: rgba(235, 12, 56, 0.907);
    cursor: pointer;
}