    .home {
        display: flex;
        flex-direction: column;
        height: 800px;
    }
    
    .homePage {
        display: flex;
        flex-direction: row;
        height: 80%;
    }
    
    .imgHome {
        height: 20%;
        background-image: url('../../imgs/mario.jpg');
        background-position: center;
        background-size: contain;
    }
    
    .imgHome h1 {
        color: white;
    }