    .home {
        display: flex;
        flex-direction: column;
        height: 999px;
        width: 100%;
    }
    
    .homePage {
        display: flex;
        height: 80%;
    }
    
    .imgHome {
        background-color: black;
        height: 20%;
        background-image: url('../../imgs/mario.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }