.page {
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.page {
    background-image: url('../../imgs/fondo5.jpg');
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
}

.cards {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 19rem;
    border: rgba(245, 245, 245, 0.557) 1px solid;
    border-radius: 2rem;
    margin-block: 2rem;
}