.ctnPage {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.btns {
    display: flex;
    width: 100%;
}

.page {
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.page {
    background-image: url('../../imgs/fondo5.jpg');
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
}

.cards {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 19rem;
    border: rgba(245, 245, 245, 0.557) 1px solid;
    border-radius: 2rem;
    margin-block: 2rem;
}

.btns {
    height: 5%;
    display: flex;
    background-color: #111;
    border: #111 2px solid;
}

.btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    border: none;
    width: 10%;
    height: 110%;
    color: #818181;
    font-size: 20px;
    cursor: pointer;
    border-inline: black 1px solid;
}

#x {
    width: 5%;
}

.btns button:hover {
    border-radius: 2rem;
    color: white;
    background-color: rgba(235, 12, 56, 0.907);
}

.btns div {
    font: oblique;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #111;
    color: whitesmoke;
}

.btns span {
    padding-top: 2px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(235, 12, 56, 0.907);
    align-items: center;
    width: 3%;
}