.landingPage {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.475);
    background-image: url('../../imgs/fondo1.jpg');
    background-size: cover;
    background-position: center;
}

.start {
    background-color: white;
    margin-top: 18%;
    border: white 2px solid;
    border-radius: 2.5rem;
}

.start:hover {
    transform: scale(1.5);
    transition: 0.5s;
    box-shadow: 0 20px 30px 3rem rgba(201, 189, 198, 0.678);
}